form {
  label {
    margin: 0.5rem 0;
    font-weight: bold;
  }
  p {
    margin-top: 1rem;
  }

  .input-range {
    padding: 1.5rem 0;
    margin: 0rem 0;
  }
  .input-range__label {
    bottom: 0rem;
  }
}