**/bin
**/obj
**/*.dll
**/node_modules
**/packages
**/pkg
**/dist
**/out
**/.next
**/public

.fake
.git
.paket
.travis.yml
.vscode
CONTRIBUTING.MD
Dockerfile
LICENSE.MD
appveyor.yml
fake.cmd
fake.sh
now.json
packages
paket-files
pkg
tools
!tools/version.sh
