obj/
bin/
*.suo
AssemblyVersionInfo.fs
packages/
AssemblyVersionInfo.cs
build/
AssemblyVersionInfo.cs
*.swp
AssemblyVersionInfo.cs
tools/
**.user
Logary.userprefs
Heka.userprefs
*.pfx
*.spc
*.pvk
.DS_Store
App_Readme/
paket-files/
*.userprefs
build.cmd
build.fsx
build.sh
.vs/
.idea/
artifacts/
.*/
