*.pfx
*.pvk
*.spc
*.suo
*.swp
*.user
*.userprefs
.DS_Store
.fake/
.idea/
.vs/
App_Readme/
BenchmarkDotNet.Artifacts/
Logary.userprefs
artifacts/
bin/
build.cmd
build.fsx
build.sh
build/
obj/
packages/
paket-files/
tools/
