# Auto detect text files and perform LF normalization
*.fs     text eol=lf
*.rb     text eol=lf
*.csproj text merge=union eol=crlf
*.fsproj text merge=union eol=crlf
*.sln    text merge=union eol=crlf
