generate_load_scripts: true
source https://api.nuget.org/v3/index.json
storage none
framework auto-detect

nuget Argu
nuget Castle.Core
nuget EventStore.Client ~> 4.1
nuget EventStore.ClientAPI.NetCore
nuget Expecto
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget Machine.Specifications
nuget Machine.Specifications.Should
nuget Machine.Specifications.Runner.Console
nuget Machine.Specifications.Runner.VisualStudio
nuget Microsoft.NET.Test.Sdk
nuget FParsec
nuget FSharp.Core ~> 4.5
nuget FluentMigrator < 2
nuget FluentMigrator.Runner < 2
nuget FsCheck
nuget FsPickler
nuget FsPickler.Json
nuget FsSql
nuget Google.Api.Gax.Rest
nuget Google.Cloud.Logging.V2
nuget Hopac
nuget Http.fs
nuget Microsoft.ApplicationInsights
nuget Microsoft.ApplicationInsights.DependencyCollector
nuget NLog
nuget NodaTime
nuget RabbitMQ.Client
nuget SQLite.Interop
nuget SQLite.Interop.dll
nuget Suave < 2.5
nuget System.Data.SQLite.Core
nuget System.Net.Http
nuget System.Configuration.ConfigurationManager >= 4.5.0-rc1 # topshelf
nuget System.Data.SqlClient >= 4.5.0-rc1 # topshelf
nuget Topshelf ~> 4.1.0.117-develop
nuget TweetinviAPI
nuget Unquote
nuget aliyun-log-csharp-sdk
nuget elmah.corelibrary
nuget elmah.io.client
nuget elmah.io.core
nuget fszmq
nuget libzmq_vc120 # specifically for Windows-support in Rutta
nuget protobuf-net

github eiriktsarpalis/TypeShape src/TypeShape/TypeShape.fs
github eiriktsarpalis/TypeShape src/TypeShape/Utils.fs
github haf/YoLo:bd91bbe94a183aa9dc9c13e885c73b20516b01e7 YoLo.fs
github logary/RingBuffer RingBuffer.fs
github logary/logary src/Logary.CSharp.Facade/Facade.cs
github logary/logary src/Logary.Facade/Facade.fs
github messagetemplates/messagetemplates-fsharp src/FsMtParser/FsMtParserFull.fs
github xyncro/aether src/Aether/Aether.fs
github neoeinstein/chiron:38e9d979fbab792904be19350f5fac9ebfaf9fd8 src/Chiron/Chiron.fs

group Build
    source https://api.nuget.org/v3/index.json
    storage none
    framework auto-detect

    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Octo
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Paket
    nuget Fake.Core.Xml
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.TeamCity
    nuget Fake.IO.Zip

group Examples
    source https://api.nuget.org/v3/index.json
    storage none
    framework auto-detect
    redirects on

    nuget Argu
    nuget Castle.Core
    nuget Chiron >= 7-beta
    nuget FParsec
    nuget FSharp.Core
    nuget Hopac
    nuget NodaTime
    nuget RabbitMQ.Client

group Benchmarks
    source https://api.nuget.org/v3/index.json
    storage none
    framework auto-detect
    redirects on

    nuget FParsec
    nuget FSharp.Core
    nuget Hopac
    nuget NodaTime
    nuget Expecto
    nuget Expecto.BenchmarkDotNet == 8.6.5
    nuget BenchmarkDotNet == 0.10.14 
