source https://api.nuget.org/v3/index.json
clitool paket
framework auto-detect
version 5.216.0

nuget Argu
nuget Castle.Core
nuget EventStore.Client ~> 4.1
nuget EventStore.ClientAPI.NetCore
nuget Expecto
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget Jaeger.Thrift
nuget Machine.Specifications
nuget Machine.Specifications.Should
nuget Machine.Specifications.Runner.Console
nuget FParsec
nuget FSharp.Core ~> 4.6.0
nuget FluentMigrator < 2
nuget FluentMigrator.Runner < 2
nuget FsCheck
nuget FsPickler
nuget FsPickler.Json
nuget FsSql

nuget Google.Api.Gax.Rest ~> 2.6 strategy: min
nuget Google.Cloud.Logging.V2 ~> 2.2 strategy: min
nuget Google.Cloud.BigQuery.V2 ~> 1.3 strategy: min
nuget Google.Cloud.PubSub.V1 1.1.0-beta01 strategy: min

nuget Hopac
nuget Http.fs
nuget Microsoft.ApplicationInsights
nuget Microsoft.ApplicationInsights.DependencyCollector
nuget NLog
nuget NodaTime
nuget RabbitMQ.Client
nuget SQLite.Interop
nuget SQLite.Interop.dll
nuget Suave < 2.5
nuget System.Data.SQLite.Core
nuget System.Net.Http
nuget Topshelf
nuget aliyun-log-csharp-sdk
nuget elmah.corelibrary
nuget elmah.io.client
nuget elmah.io.core
nuget fszmq
nuget protobuf-net
nuget System.Memory
nuget System.Data.Odbc

github eiriktsarpalis/TypeShape:c39f18a164a9ce227656e2806c2bddfdde623a68 src/TypeShape/TypeShape.fs
github eiriktsarpalis/TypeShape:c39f18a164a9ce227656e2806c2bddfdde623a68 src/TypeShape/Utils.fs
github haf/YoLo:bd91bbe94a183aa9dc9c13e885c73b20516b01e7 YoLo.fs
github haf/DVar src/DVar/DVar.fs
github logary/RingBuffer RingBuffer.fs
github logary/logary src/Logary.CSharp.Facade/Facade.cs
github logary/logary src/Logary.Facade/Facade.fs
github messagetemplates/messagetemplates-fsharp src/FsMtParser/FsMtParserFull.fs
github xyncro/aether src/Aether/Aether.fs

group Build
  source https://api.nuget.org/v3/index.json
  storage none
  framework auto-detect

  nuget FSharp.Core ~> 4.6.0
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Cli
  nuget Fake.Core.Target
  nuget Fake.Core.ReleaseNotes
  nuget Fake.IO.FileSystem
  nuget Fake.Tools.Octo
  nuget Fake.Tools.Git
  nuget Fake.DotNet.Paket
  nuget Fake.Core.Xml
  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.TeamCity
  nuget Fake.IO.Zip

  github eiriktsarpalis/snippets SlnTools/SlnTools.fs

group MSFT
  source https://api.nuget.org/v3/index.json
  storage none
  framework auto-detect
  redirects on
  nuget FSharp.Core ~> 4.6.0
  nuget Microsoft.Extensions.DependencyInjection.Abstractions ~> 2.0
  nuget Microsoft.Extensions.Hosting.Abstractions ~> 2.0
  nuget Microsoft.Extensions.Logging ~> 2.0
  nuget Microsoft.Extensions.Options ~> 2.0
  nuget Microsoft.AspNetCore.Hosting.Abstractions ~> 2.0
  nuget Microsoft.AspNetCore.Mvc.Core ~> 2.0

group Examples
  source https://api.nuget.org/v3/index.json
  storage none
  framework auto-detect
  redirects on

  nuget Argu
  nuget Castle.Core
  nuget FParsec
  nuget FSharp.Core ~> 4.6.0
  nuget Hopac
  nuget NodaTime
  nuget RabbitMQ.Client

group Benchmarks
  source https://api.nuget.org/v3/index.json
  storage none
  framework auto-detect
  redirects on

  nuget FParsec
  nuget FSharp.Core ~> 4.6.0
  nuget Hopac
  nuget NodaTime
  nuget Expecto
  nuget Expecto.BenchmarkDotNet
  nuget BenchmarkDotNet

group AspNetCoreExample
  source https://api.nuget.org/v3/index.json
  storage none
  framework auto-detect
  redirects on
  nuget Microsoft.AspNetCore.App 2.2.5
  nuget Microsoft.AspNetCore 2.2.0
