<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- use on mono:
  <dllmap os="osx" dll="libzmq.dll" target="libzmq.dylib" />
  <dllmap os="!windows,osx" dll="libzmq.dll" target="libzmq.so" />
  -->
  <appSettings>
    <!--<add key="router stream" value="tcp://127.0.0.1:20001" />
    <add key="router target" value="stackdriver://google/?projectId=logary" />-->
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"></assemblyBinding>
  </runtime>
</configuration>
